.headerfontstyle {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #6a6a6a;
}
.boxfontstyle {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: lighter;
  color: #6a6a6a;
}
.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5ba6ad;
}
.header .modelsearch {
  width: 200px;
  float: left;
}
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
.grid {
  max-width: 1200px;
  min-height: 2000px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  float: left;
}
.item-wrapper {
  width: 960px;
  margin: 80px auto 20px;
  position: relative;
}
.boxmodel {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: lighter;
  color: #6a6a6a;
  height: 553px;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  z-index: 999;
}
.boxmodel .item-model-content {
  padding: 10px;
}
.boxmodel .item-model-content h3 {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #6a6a6a;
  margin-top: 0;
}
.boxmodel .item-model-content .model-item-email {
  color: #5ba6ad;
  text-decoration: underline;
}
.boxmodel .item-model-content .model-item-price {
  color: #3ca4ad;
}
.boxmodel img {
  display: block;
  margin: 0 auto;
}
