/* MIXINS */
.headerfontstyle {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9375em;
  font-weight: 300;
  color: #6a6a6a;
}
.boxfontstyle {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.8125em;
  font-weight: lighter;
  color: #6a6a6a;
}
/* HEADER STYLING */
.header-wrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #5ba6ad;
}
.header-wrapper .mobile-menu {
  display: none;
}
.header-wrapper .header {
  width: 60em;
  height: 50px;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}
.header-wrapper .header .modelsearch label {
  width: 7.5em;
  height: 1.875em;
  padding: 0.3125em;
  font-family: 'Helvetica', sans-serif;
  font-size: 0.8125em;
  color: #FDFDFD;
}
.header-wrapper .header .modelsearch input[type="text"] {
  width: 100%;
  height: 2.575em;
  padding: 0.3125em 0.625em;
  border-radius: 5px;
  background-color: #FDFDFC;
}
.header-wrapper .header .modelsearch.hidden {
  display: none;
}
.header-wrapper .header .myList {
  width: 100%;
  height: 1.875em;
  margin-top: 1.225em;
  border: 1px solid #4A89D6;
  border-radius: 5px;
  padding: 0.3125em 0.3125em 0.3125em 0.625em;
  background: #4A89D6;
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9375em;
  font-variant: small-caps;
}
.header-wrapper .mobile-menu-list {
  display: none;
}
.header-wrapper .order-menu {
  width: 60em;
  background-color: #ffffff;
  margin: 0 auto;
}
.header-wrapper .order-menu .order-tag {
  text-align: right;
  padding: 0.3125em 0.3125em 0.3125em 0.625em;
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9375em;
  font-variant: small-caps;
}
.header-wrapper .order-menu .order-btn {
  width: 9em;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.3125em 0.3125em 0.3125em 0.625em;
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9375em;
  font-variant: small-caps;
}
* {
  box-sizing: border-box;
}
.grid {
  max-width: 1200px;
  min-height: 2000px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  float: left;
}
.item-wrapper {
  width: 60em;
  margin: 7em auto 1.25em;
  position: relative;
}
@media (max-width: 480px) {
  .item-wrapper {
    width: 100%;
  }
}
.boxmodel {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.8125em;
  font-weight: lighter;
  color: #6a6a6a;
  height: 553px;
  margin-top: 0.625em;
  border-radius: 0.9375em;
  border: 1px solid gray;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  z-index: 999;
}
.boxmodel .item-model-content {
  padding: 0.625em;
}
.boxmodel .item-model-content h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9375em;
  font-weight: 300;
  color: #6a6a6a;
  margin-top: 0;
}
.boxmodel .item-model-content .model-item-email {
  color: #5ba6ad;
  text-decoration: underline;
}
.boxmodel .item-model-content .model-item-price {
  color: #3ca4ad;
}
.boxmodel .click-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.boxmodel img {
  display: block;
  margin: 0 auto;
}
.boxmodel .add-to-list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 1s;
}
.boxmodel .add-to-list span {
  font-size: 32px;
  font-family: 'Helvetica', sans-serif;
  display: block;
  color: #ffffff;
  margin: 5em auto 0;
  text-align: center;
}
.boxmodel .add-to-list:hover {
  opacity: 1;
}
.boxmodel .add-to-list.active:hover {
  opacity: 0.3;
  z-index: 9999999;
}
/* MODAL STYLING*/
#blank {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
}
#blank.hidden {
  display: none;
}
#blank .modal {
  border: 1px solid black;
  border-radius: 0.9375em;
  width: 60%;
  height: 70%;
  display: block;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 99999;
  background: white;
  overflow: hidden;
  /*-webkit-overflow-scrolling: touch;*/
}
@media (max-width: 480px) {
  #blank .modal {
    width: 90%;
    left: 5%;
  }
}
#blank .modal.hidden {
  display: none;
}
#blank .modal .modal-header {
  width: 100%;
  height: 50px;
  padding: 0.625em;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 99;
}
#blank .modal .modal-header .search-bar label {
  width: 7.5em;
  height: 1.875em;
  padding: 0.3125em;
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  color: #FDFDFD;
  float: left;
}
#blank .modal .modal-header .search-bar input[type="text"] {
  width: 50%;
  float: left;
  height: 2.575em;
  padding: 0.3125em 0.625em;
  border-radius: 5px;
  background-color: #FDFDFC;
}
#blank .modal .modal-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5em 0.625em 2.5em;
}
#blank .modal .modal-content .boxmodel-modal {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.8125em;
  font-weight: lighter;
  color: #6a6a6a;
  height: 7.5em;
  margin-top: 0.625em;
  border-radius: 0.9375em;
  border: 1px solid gray;
  padding: 0;
  float: left;
  overflow-y: hidden;
  position: relative;
  z-index: 999;
}
#blank .modal .modal-content .boxmodel-modal img {
  float: left;
}
#blank .modal .modal-content .boxmodel-modal h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9375em;
  font-weight: 300;
  color: #6a6a6a;
  margin-top: 0;
  float: left;
}
#blank .closebtn {
  background-image: url('../assets/close.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 480px) {
  .boxmodel {
    height: 100%;
  }
  .boxmodel .item-model-content {
    margin-left: 133px;
  }
  .boxmodel img {
    float: left;
    width: 130px !important;
    height: 130px !important;
  }
  .boxmodel .add-to-list span {
    margin: 2.5em auto 0;
  }
  .header-wrapper {
    height: 50px;
  }
  .header-wrapper .mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../assets/mobilebtn.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    transition: background-image 1s;
  }
  .header-wrapper .mobile-menu.open {
    background-image: url('../assets/close.png');
  }
  .header-wrapper .mobile-menu-list {
    display: block;
    width: 100px;
    height: 40px;
    border: 2px solid #1C1A0F;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 1em;
    text-align: center;
    padding: 7px;
    margin-top: 5px;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
  }
  .header-wrapper .header {
    width: 100%;
    height: 450px;
    background-color: #5ba6ad;
    margin-top: -450px;
    transition: margin-top 1s;
  }
  .header-wrapper .header.active {
    margin-top: 48px;
  }
  .header-wrapper .header .modelsearch {
    padding: 0.5em 2em;
  }
  .header-wrapper .header .modelsearch input[type="text"] {
    width: 100%;
    height: 3.575em;
  }
  .header-wrapper .header .modelsearch label {
    font-size: 1em;
  }
  .header-wrapper .header .myList {
    display: none;
  }
}
