@headerFont: 'Helvetica', sans-serif;
@colorFavourite: #4A89D6;
/* MIXINS */
.headerfontstyle{
  font-family: @headerFont;
  font-size:0.9375em;
  font-weight: 300;
  color:#6a6a6a;
}
.boxfontstyle{
  font-family: @headerFont;
  font-size:0.8125em;
  font-weight: lighter;
  color: #6a6a6a;
}

/* HEADER STYLING */
.header-wrapper{
  width:100%;
  height:70px;
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  background-color: #5ba6ad;
  .mobile-menu{
    display:none;
  }
  .header{
    width:60em;
    height:50px;
    position:relative;
    margin:0 auto;
    z-index:999;
    .modelsearch{
      label{
        width:7.5em;
        height:1.875em;
        padding:0.3125em;
        font-family: @headerFont;
        font-size: 0.8125em;
        color: #FDFDFD;
      }
      input[type="text"]{
        width: 100%;
        height: 2.575em;
        padding: 0.3125em 0.625em;
        border-radius: 5px;
        background-color: #FDFDFC;
      }

      &.hidden{
        display:none;
      }
    }
    .myList{
      width: 100%;
      height: 1.875em;
      margin-top:1.225em;
      border: 1px solid #4A89D6;
      border-radius: 5px;
      padding:0.3125em 0.3125em 0.3125em 0.625em;
      background:@colorFavourite;
      color: #ffffff;
      font-family: @headerFont;
      font-size: 0.9375em;
      font-variant: small-caps;
    }
  }
  .mobile-menu-list{
    display:none;
  }
  .order-menu{
    width:60em;
    background-color: #ffffff;
    margin:1.5em auto;
    .order-tag{
      text-align:right;
      padding:0.3125em 0.3125em 0.3125em 0.625em;
      font-family:@headerFont;
      font-size: 0.9375em;
      font-variant: small-caps;
    }
    .order-btn{
      width: 9em;
      height: 30px;
      border-radius: 5px;
      // border:1px solid @colorFavourite;
      padding: 0.3125em 0.3125em 0.3125em 0.625em;
      font-family:@headerFont;
      font-size: 0.9375em;
      font-variant: small-caps;
      background-color: lighten(@colorFavourite, 20%);
      color:#ffffff;
    }
  }
}

*{box-sizing: border-box;}

.item-wrapper{
  width:60em;
  margin:7.6em auto 1.25em;
  position:relative;
  @media (max-width: 480px){
    width:100%;
  }
}
.boxmodel{
  .boxfontstyle();
  height:553px;
  margin-top:0.625em;
  border-radius: 0.9375em;
  border:1px solid gray;
  padding: 0;
  overflow-x: hidden;
  position:relative;
  z-index: 999;
  .item-model-content{
    padding:0.625em;
    h3{
      .headerfontstyle();
      margin-top:0;
    }
    .model-item-email{
      color:#5ba6ad;
      text-decoration:underline;
    }
    .model-item-price{
      color:#3ca4ad;
    }
  }
  .click-container{
    width:100%;
    height:100%;
    position:relative;
  }
  img{
    display:block;
    margin:0 auto;
  }
  .add-to-list{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.7);
    opacity:0;
    transition:opacity 1s;
    span{
      font-size:32px;
      font-family: @headerFont;
      display:block;
      color:#ffffff;
      margin:5em auto 0;
      text-align: center;
    }
  }
  .add-to-list:hover{
    opacity:1
  }
  .add-to-list.active:hover{
    opacity:0.3;
    z-index:9999999;
  }
};

/* MODAL STYLING*/
#blank{
  width:100%;
  height:100%;
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  background: rgba(0,0,0, 0.7);
  &.hidden{
    display:none
  }
  .modal{
    border:1px solid black;
    border-radius: 0.9375em;
    width:60%;
    height:70%;
    display:block;
    position:fixed;
    top:10%;
    left:10%;
    z-index:99999;
    background: white;
    overflow:hidden;
    @media (max-width: 480px) {
      width:90%;
      left:5%;
    }
    &.hidden{
      display:none;
    }
    .modal-header{
      width:100%;
      height:50px;
      padding: 0.625em;
      position:absolute;
      top:0;
      left:0;
      background:black;
      z-index:99;
      .search-bar{
        label{
          width:7.5em;
          height:1.875em;
          padding:0.3125em;
          font-family: @headerFont;
          font-size: 13px;
          color: #FDFDFD;
          float:left;
        }
        input[type="text"]{
          width: 50%;
          float:left;
          height: 2.575em;
          padding: 0.3125em 0.625em;
          border-radius: 5px;
          background-color: #FDFDFC;
        }
      }
    }
    .modal-content{
      position:relative;
      display:block;
      width:100%;
      height:100%;
      padding:5em 0.625em 2.5em;
      .boxmodel-modal{
        .boxfontstyle();
        height:7.5em;
        margin-top:0.625em;
        border-radius: 0.9375em;
        border:1px solid gray;
        padding: 0;
        float:left;
        overflow-y: hidden;
        position:relative;
        z-index: 999;
        img {
          float:left;
        }
        h3{
          .headerfontstyle();
          margin-top:0;
          float:left;
        }
      }
    };
  }
  .closebtn{
    background-image: url('../assets/close.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    width:2.5em;
    height:2.5em;
    position:absolute;
    top:0;
    right:0;
  }
}
@media (max-width: 480px) {
  .boxmodel{
    height:100%;
    .item-model-content{
      margin-left:133px;
    }
    img {
      float:left;
      width: 130px !important;
      height: 130px !important;
    }
    .add-to-list{
      span{
        margin:2.5em auto 0;
      }
    }
  }
  .header-wrapper{
    height:50px;
    .mobile-menu{
      display:block;
      position:absolute;
      top:0;
      right:0;
      background-image: url('../assets/mobilebtn.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width:50px;
      height:50px;
      transition: background-image 1s;
      &.open{
        background-image: url('../assets/close.png');
      }
    }
    .mobile-menu-list{
      display:block;
      width:100px;
      height: 40px;
      border:2px solid #1C1A0F;
      border-radius: 5px;
      position:absolute;
      top:0;
      left: 1em;
      text-align: center;
      padding:7px;
      margin-top: 5px;
      color: #ffffff;
      font-family: @headerFont;
    }
    .header{
      width:100%;
      height:450px;
      background-color: #5ba6ad;
      margin-top: -450px;
      transition: margin-top 1s;
      &.active{
        margin-top:48px;
      }
      .modelsearch{
        padding:0.5em 2em;
        input[type="text"]{
          width: 100%;
          height: 3.575em;
        }
        label{
          font-size:1em;
        }
      }
      .myList{
        display:none;
      }
    }
    .order-menu{
      width:100%;
      margin:3.5em auto;
      .order-tag{
        width: 20%;
        text-align:left;
        padding:0.3125em 0em 0.3125em 0.325em;
        font-family:@headerFont;
        font-size: 0.9375em;
        font-variant: small-caps;
        display:none;
      }
      .order-btn{
        width: 6em;
        margin: 0.2em;
        float:left;
        height: 30px;
        border-radius: 5px;
        // border:1px solid @colorFavourite;
        padding: 0.3125em 0.3125em 0.3125em 0.625em;
        font-family:@headerFont;
        font-size: 0.9375em;
        font-variant: small-caps;
        background-color: lighten(@colorFavourite, 20%);
        color:#ffffff;
      }
    }
  }
}
