<!DOCTYPE html>
<html ng-app="wallapop">
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="/scripts/vendors/angular.js" charset="utf-8"></script>
    <script src="/scripts/vendors/angular-route.js" charset="utf-8"></script>
    <script src="/scripts/vendors/angular-resource.js" charset="utf-8"></script>
    <link rel="stylesheet" href="stylesheet/grid.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="stylesheet/main.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body ng-controller="LayoutController">
    <div class="header-wrapper">
      <div id="brgbtn" class="mobile-menu" ng-click="openMobileHeader()">&nbsp;</div>
      <div class="mobile-menu-list">
        <div class="myList"  ng-model="count" ng-click="openModal()">My List {{count}}</div>
      </div>
      <div id="header-box" class="header section group">
          <div class="col span_3_of_12">
            <div class="modelsearch model-title">
              <label>Search by title</label>
              <input type="text" ng-model="search.title">
          </div>
        </div>
        <div class="col span_3_of_12">
          <div class="modelsearch model-title">
            <label>Search by desciption</label>
            <input type="text" ng-model="search.description">
          </div>
        </div>
        <div class="col span_2_of_12">
          <div class="modelsearch model-title">
            <label>Search by email</label>
            <input type="text" ng-model="search.email">
          </div>
        </div>
        <div class="col span_2_of_12">
          <div class="modelsearch model-title">
            <label>Search by price</label>
            <input type="text" ng-model="searchprice.price">
          </div>
        </div>
        <div class="col span_2_of_12">
          <div class="myList"  ng-click="openModal()">my favourite {{selectedProducts.length}}</div>
        </div>
      </div>
      <div class="order-menu section group">
        <div class="order-tag col span_3_of_12">Order By:</div>
        <div class="col span_2_of_12">
          <div class="order-btn" ng-click="order('title')">title</div>
           <span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse:reverse}"></span>
        </div>
        <div class="col span_2_of_12">
        <div class="order-btn" ng-click="order('description')">description</div>
          <span class="sortorder" ng-show="predicate === 'description'" ng-class="{reverse:reverse}"></span>
        </div>
        <div class="col span_2_of_12">
        <div class="order-btn" ng-click="order('email')">email</div>
           <span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span>
        </div>
        <div class="col span_2_of_12">
        <div class="order-btn" ng-click="order('price')">price</div>
           <span class="sortorder" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span>
        </div>
      </div>
    </div>
    <!-- <div class="item-wrapper"  infinite-scroll='layoutCtrl.loadMore()' infinite-scroll-distance='2'>
        <item-container></item-container>
    </div> -->
    <!-- <ng-view></ng-view> -->
    <div class="item-wrapper">
      <div class="boxmodel col span_3_of_12" ng-click="activeClass(item)"  ng-repeat="item in items | filter:selectedProductsFilter">
        <div id="{{$index}}" class="click-container" ng-class="class" ng-click="addProduct(item, $index)">
          <img ng-src="assets/{{item.image}}" alt ="{{item.title}}"  width="280" height="280" />
          <div class="item-model-content">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
            <a ng-href="mailto:{{item.email}}"class="model-item-email">{{item.email}}</a>
            <p class="model-item-price">$ {{item.price}}</p>
        </div>
      </div>
      </div>
    </div>
    <modal-container></modal-container>
  </body>
  <!-- App -->
  <script src="app.js" charset="utf-8"></script>
  <!-- Routes -->
  <script src="routes.js" charset="utf-8"></script>
  <script src="filters/selected.filter.js" charset="utf-8"></script>
  <!-- controllers -->
  <script src="/controllers/layout.controller.js" charset="utf-8"></script>
  <!-- <script src="/controllers/order.controller.js" charset="utf-8"></script> -->
  <!-- services -->
  <!-- <script src="/services/service.data.js" charset="utf-8"></script> -->
  <script src="/services/data.service.js" charset="utf-8"></script>
  <!-- directives -->
  <!-- <script src="/directives/navbar.directive.js" charset="utf-8"></script> -->
  <script src="/directives/modal.directive.js" charset="utf-8"></script>




</html>
