<div class="grid-item boxmodel col span_3_of_12" ng-click="myCtrl.addToMyList(items)" ng-repeat="items in myCtrl.data | filter:search | orderBy:myCtrl.predicate:reverse | limitTo:myCtrl.displaymore">
    <img ng-src="assets/{{items.image}}" alt ="{{itmes.title}}"  width="280" height="280" />
    <div class="item-model-content">
      <h3>{{items.title}}</h3>
      <p>{{items.description}}</p>
      <a ng-href="mailto:{{items.email}}"class="model-item-email">{{items.email}}</a>
      <p class="model-item-price">$ {{items.price}}</p>
  </div>
  <div class="add-to-list"><span>ADD TO LIST</span></div>
</div>
