<div id="blank" class="hidden">
  <div id="mymodal" class="modal">
    <div>
      <p>Search by title: <input type="text" ng-model="searchModal.title"></p>
      <div class="closebtn"ng-click="myCtrl.closeModal()">&nbsp;</div>
    </div>
    <div class="boxmodel col span_6_of_12" ng-repeat="item in myCtrl.myList | filter:searchModal ">
      <img ng-src="assets/{{item.image}}" alt ="{{itmes.title}}" ng-click="myCtrl.removeFromList($index)" />
      <h3>{{item.title}}</h3>
    </div>
  </div>
</div>
