<div id="blank" class="hidden">
  <div id="mymodal" class="modal">
    <div class="modal-header">
        <div class="search-bar"><label>Search by title:</label> <input type="text" ng-model="searchModal.title"></div>
        <div class="closebtn" ng-click="closeModal()">&nbsp;</div>
      </div>
      <div class="modal-content">
      <!-- <div class="boxmodel-modal" ng-repeat="itemMod in layoutCtrl.myList | filter:searchModal track by $index"> -->
      <div class="boxmodel-modal" ng-repeat="itemMod in selectedProducts">
        <img ng-src="assets/{{itemMod.image}}" attr="{{layoutCtrl.itemId[$index]}}" alt ="{{itemMod.title}}"  width="130"height="130" />
        <div class="modal-text">
          <h3>{{itemMod.title}}</h3>
        </div>
        <div class="modal-remove-item" ng-click="removeFromList($index)">remove item</div>
      </div>
    </div>
  </div>
</div>
