<div class="header-wrapper">
  <div id="brgbtn" class="mobile-menu" ng-click="orderCtrl.openMobileHeader()">&nbsp;</div>
  <div class="mobile-menu-list">
    <div class="myList" ng-init="count = 0"  ng-click="orderCtrl.openModal()">My List {{layoutCtrl.count}}</div>
  </div>
  <div id="header-box" class="header section group">
      <div class="col span_3_of_12">
        <div class="modelsearch model-title">
          <label>Search by title</label>
          <input type="text" ng-model="search.title">
      </div>
    </div>
    <div class="col span_3_of_12">
      <div class="modelsearch model-title">
        <label>Search by desciption</label>
        <input type="text" ng-model="search.description">
      </div>
    </div>
    <div class="col span_2_of_12">
      <div class="modelsearch model-title">
        <label>Search by email</label>
        <input type="text" ng-model="search.email">
      </div>
    </div>
    <div class="col span_2_of_12">
      <div class="modelsearch model-title">
        <label>Search by price</label>
        <input type="text" ng-model="searchprice.price">
      </div>
    </div>
    <div class="col span_2_of_12">
      <div class="myList" ng-init="count = 0"  ng-click="orderCtrl.openModal()">my favourite {{layoutCtrl.count}}</div>
    </div>
  </div>
  <div class="order-menu section group">
    <div class="order-tag col span_3_of_12">Order By:</div>
    <div class="col span_2_of_12">
      <div class="order-btn" ng-click="orderCtrl.order('title')">title</div>
       <span class="sortorder" ng-show="orderCtrl.predicate === 'title'" ng-class="{reverse:reverse}"></span>
    </div>
    <div class="col span_2_of_12">
    <div class="order-btn" ng-click="orderCtrl.order('description')">description</div>
      <span class="sortorder" ng-show="orderCtrl.predicate === 'description'" ng-class="{reverse:reverse}"></span>
    </div>
    <div class="col span_2_of_12">
    <div class="order-btn" ng-click="orderCtrl.order('email')">email</div>
       <span class="sortorder" ng-show="orderCtrl.predicate === 'email'" ng-class="{reverse:reverse}"></span>
    </div>
    <div class="col span_2_of_12">
    <div class="order-btn" ng-click="orderCtrl.order('price')">price</div>
       <span class="sortorder" ng-show="orderCtrl.predicate === 'price'" ng-class="{reverse:reverse}"></span>
    </div>
  </div>
</div>
